<div class="container splash">
 <div class="half-splash">
  <%= image_tag("white_logo.png", class: "logo") %>
 </div>
 <div class="half-splash">
  <div class="callout">
   <h2>Miller's Court</h2>
   <h1>June 13</h1>
   <hr>
   <h3>12 - 5 PM</h3>
   <h2>Food Workshops & Biergarten</h2>
  </div>
 </div>
</div>
<div class="container grey text-center">
 <p class="headline">Browse through our workshops below and choose one to attend. Lorem Ipsum is simply dummy text for printing.<p>
  <%= image_tag("shield.png", class: "shield") %>
</div>
<div class="container schedule">
 <div class="schedule-block">
  <h4>Learn from the best</h4>
  <h1>Workshops</h1>
  <hr>

  <div class="schedule-item">
   <div class="time"><h5>12 - 1 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Parts & Labor</h4>
    <h5 class="topic">Sausage Making</h5>
   </div>
  </div>

  <div class="schedule-item">
   <div class="time blue"><h5>1 - 2 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Charmington's</h4>
    <h5 class="topic">Coffee Brewing</h5>
   </div>
  </div>

  <div class="schedule-item">
   <div class="time purple"><h5>2 - 3 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Union Craft</h4>
    <h5 class="topic">Beer Styles 101</h5>
   </div>
  </div>

  <div class="schedule-item">
   <div class="time green"><h5>3 - 4 PM</h5></div>
   <div class="item">
    <h4 class="vendor">WC Harlan's</h4>
    <h5 class="topic">Spring Cocktails</h5>
   </div>
  </div>

  <div class="schedule-item">
   <div class="time yellow"><h5>4 - 5 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Dylan's Oysters</h4>
    <h5 class="topic">Oyster Shucking</h5>
   </div>
  </div>

 </div>

 <div class="schedule-block schedule-block-biergarten">

  <h4 class="biergarten">Schmooze with the rest</h4>
  <h1>Biergarten</h1>
  <hr>

  <div class="schedule-item">
   <div class="time"><h5>12 - 5 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Local Brews</h4>
    <h5 class="topic">Union Craft Brewery</h5>
   </div>
  </div>

  <div class="schedule-item">
   <div class="time blue"><h5>1 - 4 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Raw Bar</h4>
    <h5 class="topic">Dylan's Oysters</h5>
   </div>
  </div>

  <div class="schedule-item">
   <div class="time purple"><h5>12 - 5 PM</h5></div>
   <div class="item">
    <h4 class="vendor">Meat & Cheese Plates</h4>
    <h5 class="topic">Parts & Labor</h5>
   </div>
  </div>

  </div>

 </div>
</div>